.App {
  text-align: center;
}

/********* NAVBAR SECTION START ********/
#nav-menu{
  display: flex;
  justify-content:space-around;
  align-items:center;
  background-color:rgb(101, 217, 255);
}

#nav-menu > ul {
   display:grid;
   grid-template-columns:repeat(5,1fr);
   gap:50px;
}

.item {list-style: none;}

.item-a {
  text-decoration:none;
  color:black;
  font-weight:bold;
 }

 .nav-link-home{
  color:rgb(254, 251, 251);
 }

/*! ***** NAVBAR SECTION END ***********/
/******** HOME SECTION START **********/



/*! ***** HOME SECTION END *******/
/********* ABOUT SECTION START ********/



/*! ***** ABOUT SECTION END ***********/
/******** SKILLS SECTION START **********/



/*! ***** SKILLS SECTION END *******/
/********* PROJECTS SECTION START ********/



/*! ***** PROJECTS SECTION END ***********/
/********  CONTACT START **********/



/*! ***** CONTACT SECTION END *******/









