.App {
  text-align: center;
  
font-family: 'Roboto', 
sans-serif;

}

/********* NAVBAR SECTION START ********/
#nav-menu{
  position:sticky;
  top: 0px; 
  display: flex;
  justify-content:space-around;
  align-items:center;
  background-color:rgba(23, 169, 248, 0.891);
  box-shadow: rgba(248, 106, 106, 0.5) 0px 5px 15px;
  border-radius: 60px;
 
}

#nav-menu>img{
  width: 12%;
  border-radius: 50px;
  margin:10px;
  box-shadow: rgba(241, 244, 37, 0.846) 0px 0px 15px;
}

#nav-menu > ul {
   display:grid;
   grid-template-columns:repeat(6,1fr);
   gap:50px;
}

.item {list-style: none;}

.item-a {
  text-decoration:none;
  color:rgb(253, 253, 252);
  font-weight:bold;
  font-size: 110%;
  background-color: rgb(33, 32, 32);
  padding: 10px;
  border-radius: 10px;
 }
 .item-a:hover {
  color: rgb(249, 229, 7);
  background-color: rgb(7, 7, 7);
  padding: 10px;
  border-radius: 10px;
 }


/*! ***** NAVBAR SECTION END ***********/
/******** HOME SECTION START **********/

#home{
  /* height: 100vh; */
}



/*! ***** HOME SECTION END *******/
/********* ABOUT SECTION START ********/
#about{
  
}


/*! ***** ABOUT SECTION END ***********/
/******** SKILLS SECTION START **********/
#skills{
  
}


/*! ***** SKILLS SECTION END *******/
/********* PROJECTS SECTION START ********/
#projects{
  
}


/*! ***** PROJECTS SECTION END ***********/
/********  CONTACT START **********/



/*! ***** CONTACT SECTION END *******/









