@import "~github-calendar/dist/github-calendar-responsive.css";

* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}


/* nav part  */
#nav-menu {
    margin-bottom: 50px;
}
.nav a{
    font-weight: 600;
    color: rgb(49, 49, 49);
}

/* intro part start  */

.intro_box {
    margin-top: 50px;
    display: flex;
    padding: 0px 20px;
    color: rgb(49, 49, 49);
}

.intro_left {
    padding: 60px 100px;
    width: 50%;
    margin: auto;
  
}
.intro_left p{
   
    color: rgb(49, 49, 49);
}
.into_myself{
    font-weight: 700;
}

.home-img {
    margin: auto;
    width: 50%;
    padding: 10p;
    object-fit: contain;
    animation: floatImage 4s ease-in-out infinite;
    /* border: 4px solid coral; */
    border-radius: 15px;
}



@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}
/* button{
    background-color: #f3390a;
} */
.soco_icon {
    font-size: larger;
    transform: scale(1);
    transition: .5s ease-in-out;
}

.soco_icon :hover {
    transform: scale(1.2);
}

.intro_right {

    padding: 20px 0px;
    width: 50%;
    margin: auto;
}


/* intro part end  */


/* about part start  */

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid; */
    width: 95%;
    margin: 100px auto;
}

.about_left {
    width: 50%;
    padding: 80px 60px
}

.about_right {
    width: 55%;
    padding: 50px 40px
}

.about_left>img {
    width: 100%;
    border-radius: 10px;
}

/* about part end  */


/* skill part start  */

#skill-container-inner {
    display: flex;
    height: max-content;
    /* border: 1px solid ; */
}

#skills {
    /* border:1px solid; */
    width: 95%;
    margin: auto;
}

#skills_left {
    width: 50%;
    /* border: 1px solid */
}

.left_dup {
    height: 400px;

    padding: 40px
}

.left_dup>img {
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

#left_real {
    height: 500px;
    padding: 10px 30px;
    text-align: center;
    /* border: 1px solid */
}

#frontend_skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 20px;

}

#frontend_skills div {
    border: 3px solid orangered;
    border-radius: 10px;
    transition: border .2s ease-in-out border-width .2s ease-in-out;
}

#frontend_skills div:hover {
    border-width: 0;
    transition: border .2s ease-in-out;
    border-radius: 10px;
}

#fontSkill_img {
    width: 35%;
    display: block;
    margin: auto;


}

#skills_right {
    width: 50%;
    /* border: 1px solid */
}

#right_real {
    height: 500px;
    padding: 10px 30px;
    text-align: center;
    /* border: 1px solid */
}

.back_end_skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 20px;
}

.back_end_skills div {
    border: 3px solid orangered;
    border-radius: 10px;
    transition: border .2s ease-in-out border-width .2s ease-in-out;

}

.back_end_skills div:hover {
    border-width: 0;
    /* border: 5px solid transparent; */
    transition: border .2s ease-in-out;

}

#backEnd_img {
    width: 35%;
    display: block;
    margin: auto;
}

.right_dup {
    height: 00px;

    padding: 40px
}

.right_dup>img {
    width: 70%;
    margin: auto;
    border-radius: 10px;
}

.OtherSkills-inner {
    /* border: 2px solid; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 80px;
    text-align: center
}

.OtherSkills-inner div {
    border: 5px solid orangered;
    border-radius: 10px;
    transition: border .2s ease-in-out border-width .2s ease-in-out;
}

.OtherSkills-inner div:hover {
    border-width: 0;
    transition: border .2s ease-in-out;
    border-radius: 10px;
}


#tool_skill_img {
    width: 20%;
    display: block;
    margin: auto
}

#tool_skill_img2 {
    width: 50%;
    display: block;
    margin: auto
}


#skillName {
    color: black;
    font-weight: 700;
    font-size: large;
    margin-top: 10px;
}

.tool {
    padding: 0px 60px;
}

.skillNameTitle {

    color: orangered;
    font-weight: 700;
    font-size: x-large;
    margin-top: 10px;
}

.tool {
    padding: 0px 80px;
    font-size: xx-large;

}


/* skill part end  */


/* project part start  */
#project {
    margin: 40px 0px;
   
}

.project-card {
    padding: 7px;

}

#card_img {
    transition: transform 0.1s ease-in-out;
}

#card_img:hover {
    transform: scale(1.4);
}


#card_soco {
    transform: scale(.98);
}

#card_soco:hover {
    
    transform: scale(1.1);
    background-color: orangered;
}

.project_main {
    margin: auto;
    width: max-content;
    /* border: 1px solid white; */
    
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* project part end  */


/* stat part start  */
.calendar img {
    width: 90%;
    margin: auto;

}

#statistics {
    margin-top: 100px;
}

.calendar {
    margin-top: 50px;
    border: 4px solid orangered;
    border-radius: 10px;
    padding: 20px;
}

.stat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: gray; */

    padding: 20px 60px;
    width: 80%;
    margin: 50px auto;
    gap: 40px;
}

.stat-container img {
    width: 100%;
    border-radius: 20px;
    background-color: transparent;
}

.stat-container div {
    /* width: 100%; */
    border: 4px solid orangered;
    border-radius: 10px;
}

.statthree {
    margin-left: 75%;
    background-color: transparent;
    width: 60%;
}

/* stat part end  */



/* contact  */



@media (max-width: 767px) {

    /* conatcts  */

    .intro_box {

        display: flex;
        flex-wrap: wrap;
    }

    .intro_left {
        padding: 60px 10px;
        width: 100%
    }

    .intro_left div {

        width: 100%;
        margin: auto;

    }

    .home-img {
        margin: auto;
        width: 250px;
        padding: 20px 0px;
    }

    .intro_right {

        padding: 20;
        width: 70%;
        margin: 15% auto
    }



    .soco_icon {
        font-size: medium;
    }

    /* about  */
    #about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        /* border: 2px solid; */
        padding: 10px 20px;
        width: 100%;
        margin: 40px 0px
    }



    .about_left {
        width: 100%;
        padding: 20px 10px
    }

    .about_left>img {
        width: 400px;


    }

    .about_right div {

        width: 100%;
        margin: auto;

    }

    .about_right {
        width: 100%;
        padding: 40px 10px
    }

    /* skill  */
    #skill-container-inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #skills_left {
        width: 100%;
        padding: 10px;

    }

    #skills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .tool {
        padding: 0px 80px;
        font-size: x-large;

    }

    #skills_right {
        width: 100%;
        /* border: 1px solid */
    }

    #fontSkill_img {
        width: 60%;
        height: 50px;

    }

    #frontend_skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #frontend_skills div {
        border: 3px solid orangered;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        margin: auto;
    }

    #left_real {
        height: 100%;
        padding: 10px 30px;
        text-align: center;

        color: orangered;
    }

    .left_dup {
        width: 100%;
        padding: 20px;
        height: 300px;
        margin: auto;

    }

    .left_dup>img {
        width: 400px;
        margin: auto;

    }

    .right_dup {
        width: 100%;
        padding: 20px;
        height: 300px;
        margin: auto;

    }

    .right_dup>img {
        width: 400px;

        margin: auto;

    }

    #skills_right {
        width: 100%;
        padding: 10px;
    }

    #right_real {
        height: max-content;
        margin: auto;
        padding: 10px 20px;
        text-align: center;
        color: orangered;

    }

    .back_end_skills div {
        border: 3px solid orangered;
        width: 100px;
        border-radius: 10px;
        margin: auto;

    }

    .back_end_skills {
        grid-template-columns: repeat(2, 1fr);
    }

    #backEnd_img {
        width: 60%;
        height: 60px;
        margin: auto;
        /* border:1px solid */
    }

    .OtherSkills-inner {
        display: grid;
        gap: 20px;
       padding: 40px 20px;
       width: 70%;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        text-align: center
    }

    .OtherSkills-inner div {
        border: 3px solid orangered;
        display: flex;
        width: 100px;
        margin: auto;
        padding: 10px 5px;
        flex-direction: column;
    }

    #OtherSkills_container {
        margin-top: 40px;
        padding: 10px;
        color: orangered;
    }

    #tool_skill_img {
        width: 50%;
        display: block;
        margin: auto
    }

    #tool_skill_img2 {
        width: 70%;
        height: 40px;
        display: block;
        margin: auto
    }
    .tool{
        padding: 0px 100px
    }

    .skills-card-img {
        width: 80%;
    }

    /* project  */

    .project_main {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-card {
        padding: 3px;
    }

    /* stat start  */
    .calendar img {
        width: 100%;
        margin: auto;

    }

    .calendar {
        padding: 20px;
    }

    .stat-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 10px;
        width: 80%;
        margin: 10px auto;
        gap: 40px;
    }

    .stat-container img {
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
    }

    .stat-container div {
        width: 100%;
        border: 1px solid orangered;
    }

    .statthree {
        margin: auto;
        background-color: transparent;
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    /* styles for screens between 769px and 1024px */
    .intro_box {

        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .intro_left {
        padding: 60px 10px;
        width: 100%
    }

    .intro_left div {

        width: 100%;
        margin: auto;

    }

    .home-img {
        margin: auto;
        width: 30%;
        padding: 20px 0px;
    }

    .intro_right {

        padding: 10px 10px;
        width: 100%;
        margin: 40px 0px
    }

    .into_myself {
        font-size: x-large;
    }

    .soco_icon {
        font-size: x-large;
    }

    /* about  */

    #about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        /* border: 2px solid; */
        padding: 10px 60px;
        margin: 40px 0px
    }

    .about_left {
        width: 100%;
        padding: 20px 10px
    }

    .about_left>img {
        width: 70%;
        margin: auto;

    }

    .about_right div {

        width: 100%;
        margin: auto;

    }

    .about_right {
        width: 100%;
        padding: 40px 10px
    }

    .about_me {
        font-size: xx-large;
    }

    #user-detail-intro {
        font-size: large;
    }

    .more_detail_text {
        font-size: large;
    }

    /* skills  */




    #skill-container-inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #skills_left {
        width: 100%;
        padding: 10px;

    }

    #left_real {
        height: 100%;
        padding: 10px 30px;
        text-align: center;

        color: orangered;
    }

    .left_dup {
        width: 70%;
        padding: 20px;
        height: 500px;
        margin: auto;

    }

    #frontend_skills div {
        border: 5px solid orangered;
        border-radius: 10px;
        width: 70%;
        height: 100px;
        margin: auto;
    }

    #fontSkill_img {
        width: 50px;
        height: 50px;
        margin: auto
    }



    .left_dup>img {
        width: 70%;
        height: 90%;
        margin: 3% auto;
    }

    .right_dup {
        width: 70%;
        padding: 20px;
        height: 500px;
        margin: auto;

    }

    .right_dup>img {
        width: 70%;

        margin: 3% auto;
    }

    #skills_right {
        width: 100%;
        padding: 10px;
    }

    #right_real {
        height: max-content;
        padding: 40px 10px;

        color: orangered;
    }


    #backEnd_img {
        width: 50px;
        height: 50px;
        display: block;
        margin: auto;

    }

    .back_end_skills div {
        width: 70%;
        height: 100px;
        margin: auto;
    }

    .back_end_skills {
        grid-template-columns: repeat(3, 1fr);
    }


    #skillName {
        color: orangered;
        font-weight: 700;
        font-size: large;
        margin-top: 10px;
    }

    .skillNameTitle {
        font-size: xx-large;
    }

    .tool {
        font-size: 33px;
        padding: 0px 170px;

    }

    /* #java{
        margin-left: 30px;
    } */

    .OtherSkills-inner {
        /* border: 2px solid; */
        display: grid;
        gap: 20px;
        width: 60%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 40px;
        text-align: center
    }

    #tool_skill_img {
        width: 50px;
    }

    .OtherSkills-inner>div {
        width: 120px;
        margin: auto;
    }

    #tool_skill_img2 {
        width: 100px
    }

    #OtherSkills_container {
        margin-top: 50px;
        padding: 10px;
        color: orangered;
    }

    /* project   part   */
    .project_main {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

    }

    .project-card {
        padding: 5px;
    }


    /* stats  */
    .stat-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 10px;
        width: 80%;
        margin: 30px auto;
        gap: 40px;
    }

    .calendar img {
        width: 100%;
        margin: auto;

    }

    .stat-container img {
        width: 80%;
        border-radius: 20px;
        margin: auto;

        background-color: transparent;
    }

    .stat-container div {
        width: 80%;
        margin: auto;
        border: 1px solid orangered;
    }

    .statthree {
        margin: auto;
        background-color: transparent;
        width: 80%;
    }


}

@media (min-width: 1024px) {
    /* styles for screens larger than 1024px */
}



/* =================== scroll part ====================== */